services:
  # EMQX MQTT Broker
  emqx:
    image: emqx/emqx:latest
    container_name: emqx_broker
    ports:
      - "1883:1883"     # MQTT protocol
      - "18083:18083"   # EMQX Dashboard
    restart: always

 

  # Grafana Dashboard
  grafana:
    image: grafana/grafana:latest
    container_name: grafana_viz
    ports:
      - "3000:3000"     # Grafana UI
    
    restart: always


